body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #d9f3ec;
}

header {
    width: 100%;
    padding: 20px;
}


/* TITULO NAVEGACION */

.titulo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50;
    color: black;
}

.titulo2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40;
}

#MenuNavegacion {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18;
    font-weight: bold;
}


/* FORMULARIO */

h2 {
    font-size: 38px;
    font-weight: bold;
    padding-left: 300px;
    padding-top: 0px;
}

.formulario {
    margin-left: 300px;
    margin-right: 350px;
    padding: 30px;
    border: 1px solid gray;
    background-color: #16a085;
}

.titulo3 {
    font-weight: bold;
    font-size: 16px;
}

.controls {
    width: 100%;
    height: 40px;
}

#check {
    font-weight: bold;
    color: blue
}

#pie {
    display: flex;
    flex-direction: row;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 2px;
    margin-top: 50%;
}

#pie2 {
    text-align: right;
    padding-left: 960px;
    padding-bottom: 2px;
}


/* RESPONSIVE */